
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}

h1 {
    margin: 0;
}

.justify {
    display: flex;
    justify-content: space-between;
}

.cursor {
    cursor: pointer;
}

.d-none {
    display: none;
}

.noscrolling{
    overflow: hidden;
}

/* Upper Info Detailbox */

#pokemonPopup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: fixed; 
    overflow-y: scroll;
}

#pokemonSingleBgr {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#pokemonSingleContainer {
    width: 350px;
    z-index: 2;
}

#pokedex {
    min-height: 20vh;
    background-image: url("img/single-bgr.jpg");
    background-size: cover;
    color: white;
    display: flex;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.pokedex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-left {
    display: flex;
}

.return-button {
    margin-top: 16px;
    padding: 2px;
    height: 24px;
    object-fit: contain;
}

#pokemonName {
    margin: 12px 0 0 0;
}

#pokemonNumber {
    text-align: right;
    font-size: 14px;
    font-weight: 700;
}

.pokemon-type {
    display: flex;
    width: 65px;
    padding: 6px 2px 6px 2px;
    justify-content: center;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.2);
}

#pokemonType {
    font-size: 12px;
    font-weight: 700;
}

#pokemonAvatar {
    display: flex;
    padding-top: 12px;
    height: 150px;
    object-fit: contain;
}

/* Lower Info Detailbox*/

.info-pokemon {
    background-color: white;
    border-radius: 25px;
    min-height: 370px;
    margin-top: -30px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.info-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.info-navigation a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-bottom: 12px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    width: 80px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.info-navigation a:hover{
    border-bottom: 1px solid black;
}

.info-stats-values {
    margin-top: 16px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    border-spacing: 0px 4px;
}

td:last-child {
    width: 100%;
    border: 1px solid red;
}

td:first-child {
    padding-right: 24px;
}

td:nth-child(1n +2){
    padding-right: 16px;
    text-align: center;
}

h5 {
    margin: 16px 0 2px 0;
}

#infoTypeDefenses {
    font-size: 12px;
}

/* Pokemon Overview */

.overview-body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    min-height: 100vh;
    background-image: url("img/single-bgr.jpg");
    background-color: darkgray;
    background-repeat: repeat-y;
    background-size: cover;
}

.overview-header {
    min-height: 150px;
    padding-left: 24px;
    padding-right: 24px;
}

#overviewContent {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 24px;
}

#overview {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 230px;
    min-height: 150px;
    padding: 24px 12px 12px 12px;
    margin: 16px;
    overflow: hidden;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    background-image: url("img/header-bgr-tr.jpg");
    background-size: cover;
}

.overview-description {
    width: 100%;
}

.overview-name {
    display: flex;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
}

.overview-id {
    display: flex;
    text-align: right;
    font-size: 12px;
}

.overview-seperate {
    display: flex;
    margin-bottom: 8px;
    max-width: 100%;
}

.overview-type {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-right: 16px;
    width: 65px;
    height: 12px;
    padding: 6px 2px 6px 2px;
    justify-content: center;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    font-weight: 600;
}

#overviewAvatar {
    display: flex;
    height: 100px;
    object-fit: contain;
    margin: 16px 0 0 16px;
}
