body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}

h1 {
    margin: 0;
}

.justify {
    display: flex;
    justify-content: space-between;
}

.cursor {
    cursor: pointer;
}

.d-none {
    display: none;
}

.noscrolling {
    overflow: hidden;
}

.mrg-top {
    margin-top: 1.5rem;
}

/* loading */
.load-loop {
    min-height: 75%;
    width: 7.5rem;
}

.load-loop img {
    object-fit: contain;
    width: 7.5rem;
    height: 100px;
}

/* Upper Info Detailbox */

#pokemonPopup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: fixed;
    overflow-y: scroll;
}

#pokemonSingleBgr {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

#pokemonSingleContainer {
    width: 21.875rem;
    z-index: 2;
}

#pokedex {
    min-height: 20vh;
    background-image: url("img/header-bgr-tr.jpg");
    background-size: cover;
    color: white;
    display: flex;
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-shadow: .25rem .25rem .375rem rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.pokedex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-left {
    display: flex;
}

.return-button {
    margin-top: 1rem;
    padding: .125rem;
    height: 1.5rem;
    object-fit: contain;
}

#pokemonName {
    margin: .75rem 0 0 0;
}

#pokemonNumber {
    color: black;
    text-align: right;
    font-size: .875rem;
    font-weight: 700;
}

.pokemon-type {
    color: black;
    display: flex;
    flex-wrap: wrap;
    min-width: 5rem;
}

#pokemonType {
    width: 5rem;
    font-size: .75rem;
    font-weight: 700;
}

#pokemonAvatar {
    display: flex;
    padding-top: .75rem;
    height: 9.375rem;
    object-fit: contain;
}

/* Lower Info Detailbox*/

.info-pokemon {
    background-color: white;
    border-radius: 1.5625rem;
    min-height: 23.125rem;
    margin-top: -1.875rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-shadow: .25rem .25rem .375rem rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.info-navigation {
    display: flex;
    padding-top: 2.5rem;
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.2);
}

.info-nav-head {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-bottom: .75rem;
    color: rgba(0, 0, 0, 0.4);
    font-size: .75rem;
    width: 5rem;
    border-bottom: .0625rem solid rgba(0, 0, 0, 0.0);
}

.info-navigation a:hover {
    border-bottom: .0625rem solid black;
}

.info-stats-values {
    margin-top: 1rem;
    font-size: .75rem;
    color: rgba(0, 0, 0, 0.5);
    border-spacing: 0rem .25rem;
}

td:first-child {
    padding-right: 1.25rem;
}

td:nth-child(1n +2) {
    padding-right: 1rem;
}

h5 {
    margin: 1rem 0 .125rem 0;
}

#infoTypeDefenses {
    font-size: .75rem;
}

/* Pokemon Overview */

.overview-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    min-height: 100vh;
    background-image: url("img/single-bgr.jpg");
    background-color: darkgray;
    background-repeat: repeat-y;
    background-size: 100%;

}

.overview-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 9.375rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1rem;
}

.overview-header img {
    object-fit: cover;
    width: 18.75rem;
    margin-bottom: 1.5rem;
}

.searchbar {
    display: flex;
}

#searchinput {
    border: .1875rem solid #306CB3;
    padding: .25rem .5rem .25rem .5rem;
    border-radius: .5rem;
    background-color: #fff1b9;
}

#searchbutton {
    padding: .25rem .5rem .25rem .5rem;
    color: #306CB3;
    border: .1875rem solid #306CB3;
    border-color: #306CB3;
    background-color: #FFCB04;
    border-radius: .5rem;
    margin-left: .25rem;
}

#overviewContent {
    color: #000000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

#overview {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1.25rem;
    width: 14.375rem;
    min-height: 9.375rem;
    padding: 1.5rem .75rem .75rem .75rem;
    margin: 1rem;
    overflow: hidden;
    box-shadow: .25rem .25rem .375rem rgba(0, 0, 0, 0.4);
    background-image: url("img/header-bgr-tr.jpg");
    background-size: cover;
}

.overview-description {
    width: 100%;
}

.overview-name {
    display: flex;
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
}

.overview-id {
    display: flex;
    text-align: right;
    font-size: .75rem;
}

.overview-seperate {
    display: flex;
    margin-bottom: .5rem;
    max-width: 100%;
}

.overview-type-container {
    display: flex;
    align-items: center;
    margin-top: .5rem;
    margin-right: 1rem;
    width: 4.0625rem;
    height: .75rem;
    padding: .375rem .125rem .375rem .125rem;
    justify-content: center;
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: .75rem;
    font-weight: 600;
}

#overviewAvatar {
    display: flex;
    height: 6.25rem;
    object-fit: contain;
    margin: 1rem 0 0 1rem;
}

#loadMore {
    min-width: auto;
    height: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: .25rem .5rem .25rem .5rem;
    color: #306CB3;
    border: .1875rem solid #306CB3;
    border-color: #306CB3;
    background-color: #FFCB04;
    border-radius: .5rem;
}

.info-poke-description {
    display: flex;
    justify-content: space-around;
    font-size: .75rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 1.5rem;
}

.align {
    text-align: right;
}

.attributes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Progressbars */

.progress {
    width: 100%;
    max-width: 16.25rem;
    height: .375rem;
    background: #e1e4e8;
    border-radius: .1875rem;
    overflow: hidden;
    border: .0625rem solid rgb(99, 99, 99);
}

.progress-bar {
    display: block;
    height: 100%;
    background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
    background-size: 300% 100%;
    animation: progress-animation 2s linear infinite;
}

.noprogress {
    display: none;
}

@keyframes progress-animation {
    0% {
        background-position: 100%
    }

    100% {
        background-position: 0
    }
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    border-top: .125rem solid black;
    color: black;
}

.copyright {
    margin-top: 1.5rem;
}

.social-media img {
    width: 2rem;
    cursor: pointer;
}

.footer-links a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.mrg-lft {
    margin-left: 1rem;
}

/* Impress */

.impress {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/single-bgr.jpg");
    background-size: cover;
}

.data-protect {
    margin: 1rem;
    background-image: url("img/single-bgr.jpg");
    background-repeat: repeat-y;
    background-size: contain;
    color: black;
}