body {
    margin: 0;
    background: rgb(43, 41, 44);
    color: white;
    font-family: 'Roboto', sans-serif;
}

#pokedex {
    background-color: rgb(213, 59, 71);
    color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemonImage {
    margin-bottom: 32px;
    height: 300px;
}

#pokemonName {
    font-size: 40px;
    text-align: center;
    color: white;
}

#indexNumber {
    position: absolute;
    right: 50px;
    top: 50px;
    color: white;
    font-size: 25px;
}

#pokemonType {
    display: flex;
    justify-content: center;
}

.typeContainer {
    width: 150px;
    background: red;
    text-align: center;
    border-radius: 10px;
    padding: 4px;
    font-size: 20px;
    margin: 0 8px 0 8px;
}

.pokemonBody {
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    margin-bottom: 50px;
}

.font-size-15 {
    font-size: 15px;
    color: grey;
}

.text-center {
    text-align: center;
}

.baseStats {
    width: 350px;
}

.barContainer {
    display: flex;
    margin-bottom: 16px;
}

.progress {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    color: black;
}

#hpBar {
    background-color: rgb(255 74 74);
    width: 0%;
    border-radius: 20px;
    text-align: end;
}

#atkBar {
    background-color: rgb(255 255 67);
    width: 0%;
    border-radius: 20px;
    text-align: end;
}

#defBar {
    background-color: rgb(91 91 255);
    width: 0%;
    border-radius: 20px;
    text-align: end;
}

#sAtkBar {
    background-color: rgb(0 119 255);
    width: 0%;
    border-radius: 20px;
    text-align: end;
}

#sDefBar {
    background-color: rgb(151 151 151);
    width: 0%;
    border-radius: 20px;
    text-align: end;
}

#speedBar {
    background-color: rgb(66 233 66);
    width: 0%;
    border-radius: 20px;
    text-align: end;
}

table {
    display: flex;
    justify-content: center;
}

.pokedexHeader {
    display: flex;
    align-items: center;
    height: 81px;
    background: rgb(213, 59, 71);
    padding-left: 32px;
}

.pokedexHeader button {
    background: transparent;
    font-size: 30px;
    border: none;
    color: white;
}

#pokedexBoxes {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.pokemonBoxContainer {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
    background: rgb(213, 59, 71);
    margin: 8px;
    border-radius: 25px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    align-items: center;
}

.pokemonBoxContainer img {
    height: 100px;
    width: 100px;
    margin-bottom: 8px;
}